$footer-height: 2rem;
$footer-padding: 1rem;
body {
    padding-bottom: $footer-height + ($footer-padding * 2);
    -webkit-text-size-adjust: 100%;
}

.footer {
    height: $footer-height;
    position: absolute;
    bottom: $footer-padding;
    width: 100%;
    color: $dark-gray;
    text-align: center;
}

.licensing {
    display: inline-block;
    text-align: center;
    fill: lighten($gray, 5%);
    color: $gray;
    line-height: 1rem;
    transition: .25s;
    &:hover, &:active {
        color: $accent;
        text-decoration: none;
        fill: $accent;
    }
    svg {
        float: left;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: .25rem;
    }
}

.footer-contents {
    padding-top: $footer-padding;
}