$footer-height: 6rem;
$footer-padding: 1rem;
body {
    padding-bottom: $footer-height + ($footer-padding) !important;
    -webkit-text-size-adjust: 100%;
}

.footer {
    height: $footer-height;
    position: absolute;
    bottom: $footer-padding;
    width: 100%;
    color: $gray;
    text-align: center;
    left: 0;
    right: 0;
}

.social {
    font-size: 2rem;
    padding-bottom: 1rem;
    a {
        transition: color .25s;
        color: $gray;
        margin: 0 .75rem;
        &:hover {
            color: $accent;
        }
    }
}

.licensing {
    display: inline-block;
    text-align: center;
    fill: $gray;
    color: $gray;
    line-height: 1rem;
    transition: .25s;
    &:hover, &:active {
        color: $accent;
        text-decoration: none;
        fill: $accent;
    }
    svg {
        float: left;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: .25rem;
    }
}

.footer-contents {
    padding-top: $footer-padding;
}