@import "components.scss";
@import "header.scss";
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $sans-serif;
    font-size: 18px;
    position: relative;
    background: $page-bg;
    line-height: 1.75;
    color: $black;
}

html {
    margin-bottom: 100px;
}

div.highlight {
    margin: 0;
    overflow-x: scroll;
}
pre {
    line-height: 1.5;
    margin: 1em 0;
    padding-left: 1em;
    & > code {
        display: inline-block;
        padding-right: 1em;
    }
}

div.highlight, code.highlighter-rouge {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.octicon {
    height: 1em;
    position: relative;
    top: .1em;
}

p {
    font-family: $serif;
}
code {
    font-family: "Source Code Pro", monospace;
    font-size: .9em;
    :not(pre) > & {
        word-wrap: break-word;
        background: #fafafa;
        color: black;
        padding: .1em .3em;
        margin: 0 .1em;
        border-radius: .2em;
    }
}

div.main {
    padding-bottom: 5rem;
}

input {
    font-family: $sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $title-color;
}

.hero-image {
    width: 100%;
    height: 30vh;
    min-height: 200px;
    max-height: 250px;
    background: red;
}

.head-text {
    color: $title-color;
    text-decoration: none;
}

.shadow-text {
    @include shadow-text($title-color);

}

a {
    color: darken(desaturate($accent, 10%), 20%);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.entry {
    display: block;
    font-feature-settings: "liga";
    text-decoration: none;
    color: inherit;
    &:not(:first-child) {
        margin-top: 3em;
    }
    &:first-child {
        margin-top: 1em;
    }
    .title {
        border-bottom: .1rem solid transparent;
        a {
            color: inherit;
        }
    }
    p {
        margin-top: 0rem;
        margin-bottom: .2rem;
    }
}

.centered {
    position: relative;
    margin: 0 auto;
}

.padded {
    padding: $wide-padding;
}

.extras {
    font-size: .7rem;
    color: lighten($black, 60%);
    .octicon {
        fill: lighten($black, 60%);
    }
}