$shadow-color: #222;
$padding: 20px 30px;
$wide-padding: 0 20px 0 20px;
$black: #222;
$title-color: $black;
$page-bg: #FDFDFD;
$accent: #d12ec5;
$round: 5px;
$gray: #ddd;
$dark-gray: #888;
$blue:#007bee;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-body:            $font-family-sans-serif;
$font-family-serif:           serif;
$font-family-monospace:       "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;